html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/bebasneueregular.woff") format("woff"), url("../fonts/bebasneueregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/bebasneuebold.woff") format("woff"), url("../fonts/bebasneuebold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: #fff;
  font-family: "ProximaNova", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  max-width: 1420px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.form * {
  outline: none;
}

.shadow {
  display: none;
}

.shadow_activ {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 200;
}

.main {
  position: relative;
  background: url(../img/header-bg.jpg);
}

.main:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 78, 134, 0.8)), to(rgba(10, 65, 104, 0.8)));
  background: -o-linear-gradient(top, rgba(0, 78, 134, 0.8) 0%, rgba(10, 65, 104, 0.8) 100%);
  background: linear-gradient(180deg, rgba(0, 78, 134, 0.8) 0%, rgba(10, 65, 104, 0.8) 100%);
}

.main .main-content .wrapper {
  position: relative;
  padding: 0;
}

.main .main-content .wrapper:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../img/lines.svg) center;
}

.header {
  border-bottom: 1px solid #FFFFFF;
  padding: 18px 0;
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  margin-left: 80px;
}

.header-burger {
  position: relative;
  width: 40px;
  height: 20px;
  cursor: pointer;
  background: url(../img/line.svg) center no-repeat;
  opacity: 0.8;
}

.header-burger:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #FFFFFF;
  top: 0;
}

.header-burger:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #FFFFFF;
  bottom: 0;
}

.header-contacts__mail p {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  opacity: 0.5;
  margin-bottom: 8px;
}

.header-contacts__mail a {
  position: relative;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: -0.5px;
  color: #FEE040;
  padding-left: 20px;
}

.header-contacts__mail a:before {
  position: absolute;
  content: url(../img/mail.svg);
  left: 0;
  top: 3px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  margin-left: 140px;
}

.header-contacts__phone p {
  display: inline-block;
  position: relative;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  opacity: 0.5;
  margin-bottom: 7px;
  padding-left: 20px;
}

.header-contacts__phone p:after {
  position: absolute;
  content: url(../img/phone.svg);
  left: 0;
  top: 0;
}

.header-contacts__phone a {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  font-weight: 700;
}

.main-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 140px;
}

.main-text__title {
  max-width: 580px;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
}

.main-text__description {
  font-family: "ProximaNova", sans-serif;
  font-weight: 400;
  max-width: 365px;
  font-size: 20px;
  line-height: 34px;
  color: #FFFFFF;
  opacity: 0.7;
  margin-top: 38px;
}

.main-offer {
  max-width: 340px;
}

.main-offer__btn {
  position: relative;
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
  padding: 29px 57px 26px 81px;
  background: #fee040;
  border-radius: 2px;
  width: 100%;
  cursor: pointer;
}

.main-offer__btn:before {
  position: absolute;
  content: url(../img/download.svg);
  left: 58px;
  top: 29px;
}

.main-offer__description {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 40px;
  opacity: 0.8;
}

.main-bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 59px 0;
}

.main-benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.main-benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 262px;
}

.main-benefits__item:not(:last-child) {
  margin-right: 100px;
}

.main-benefits__item p {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  margin-left: 27px;
}

.main-video a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.main-video a img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.main-video a:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.working {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #FFFFFF), color-stop(50%, #F5F5F5));
  background: -o-linear-gradient(left, #FFFFFF 50%, #F5F5F5 50%);
  background: linear-gradient(to right, #FFFFFF 50%, #F5F5F5 50%);
  padding: 100px 0 89px;
}

.working .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.working-left {
  max-width: 460px;
}

.working-title {
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.5px;
  color: #151515;
}

.working-description {
  font-family: "ProximaNova", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #707070;
  margin-top: 50px;
}

.working-benefits-title {
  font-family: "ProximaNova", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: #151515;
  margin-bottom: 28px;
}

.working-benefits-list li {
  position: relative;
  font-family: "Proxima Nova", sans-serif;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.5px;
  color: rgba(51, 51, 51, 0.7);
  padding-left: 50px;
  margin-bottom: 20px;
}

.working-benefits-list li:before {
  position: absolute;
  content: url(../img/icon.svg);
  left: 0;
}

.services {
  position: relative;
  background: url(../img/patrick-tomasso-89367-unsplash.png) no-repeat;
}

.services:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 78, 134, 0.9)), to(rgba(10, 65, 104, 0.9)));
  background: -o-linear-gradient(top, rgba(0, 78, 134, 0.9) 0%, rgba(10, 65, 104, 0.9) 100%);
  background: linear-gradient(180deg, rgba(0, 78, 134, 0.9) 0%, rgba(10, 65, 104, 0.9) 100%);
}

.services .wrapper {
  position: relative;
  padding: 100px 0 145px;
}

.services .wrapper:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../img/lines.svg) center;
}

.services-title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: #FEE040;
  text-align: center;
}

.services-subtitle {
  display: block;
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 20px;
}

.services-slider {
  margin-top: 50px;
}

.services .swiper {
  width: 100%;
  height: 100%;
  overflow: inherit;
}

.services .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
  cursor: pointer;
}

.services .swiper-slide-prev {
  opacity: 0.3;
}

.services .swiper-slide img {
  display: block;
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

.services .swiper-slide__title {
  font-family: "ProximaNova", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  margin: 20px 0;
}

.services .swiper-slide__description {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  opacity: 0.7;
}

.services .swiper-slide__more {
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 7px;
  color: #FEE040;
  margin-top: 30px;
}

.services .swiper-pagination-progressbar.swiper-pagination-horizontal {
  bottom: 80px !important;
  top: inherit;
}

.services .swiper-pagination-progressbar {
  background: initial;
}

:root {
  --swiper-theme-color: linear-gradient(270deg, #FEE040 0%, rgba(254, 224, 64, 0) 100%);
}

.step-one {
  padding: 104px 0 40px;
}

.step-one__title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-size: 80px;
  line-height: 64px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#60B6FF), to(rgba(0, 78, 134, 0.8)));
  background: -o-linear-gradient(top, #60B6FF 0%, rgba(0, 78, 134, 0.8) 100%);
  background: linear-gradient(180deg, #60B6FF 0%, rgba(0, 78, 134, 0.8) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.step-one__subtitle {
  display: block;
  max-width: 503px;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 36px auto 0;
  color: #505050;
}

.step-one-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
  max-height: 441px;
  overflow: hidden;
}

.step-one-slider {
  position: relative;
  width: 50%;
}

.step-one-slider .swiper-pagination-2 {
  height: 10px;
  bottom: 30px;
  position: absolute;
  left: 43%;
}

.step-one-slider .swiper-slide {
  cursor: pointer;
}

.step-one-slider .swiper-pagination-bullet {
  background: #FFFFFF;
  opacity: 0.5;
  border-radius: 10px;
  width: 20px;
  height: 2px;
  z-index: 10;
  position: relative;
}

.step-one-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 40px;
  opacity: 1;
}

.step-one-text {
  width: 50%;
  background: #F5F5F5;
  padding-left: 70px;
}

.step-one-text__title {
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: #151515;
  margin-top: 80px;
}

.step-one-text__title span {
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #151515;
  background: #FEE040;
  margin-right: 20px;
  padding: 4px 10px;
}

.step-one-text__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.5px;
  color: #333333;
  opacity: 0.7;
  margin-top: 14px;
  max-width: 460px;
}

.step-one-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 32px;
}

.step-one-comment .step-one-comment__photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 7px solid #FFFFFF;
  -webkit-box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.step-one-comment .step-one-comment__photo img {
  width: 100%;
  height: 100%;
}

.comment-specialist {
  margin-left: 30px;
}

.comment-specialist p {
  font-weight: 400;
  max-width: 380px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #505050;
  opacity: 0.7;
}

.comment-specialist .comment-specialist__person-name {
  max-width: 405px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #151515;
  opacity: 0.7;
  margin-top: 21px;
}

@media screen and (max-width: 1400px) {
  .wrapper,
  .services {
    padding: 0 20px;
  }

  .main-bottom {
    padding: 59px 20px;
  }
}

@media screen and (max-width: 1180px) {
  .services {
    overflow: hidden;
  }

  .main-benefits__item:not(:last-child) {
    margin-right: 30px;
  }

  .step-one-text {
    padding-left: 25px;
  }
}

@media screen and (max-width: 1024px) {
  .main-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header-contacts__mail {
    display: none;
  }

  .main-header {
    padding-top: 70px;
  }

  .main-text__title {
    text-align: center;
  }

  .main-text__description {
    margin: 30px auto;
    text-align: center;
  }

  .main-offer__description {
    margin-top: 20px;
    text-align: center;
  }

  .main-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main-video {
    margin-top: 30px;
  }

  .services .swiper-slide {
    margin-right: 40px !important;
  }

  .services .wrapper {
    padding: 50px 0 70px;
  }

  .services-subtitle {
    font-size: 28px;
  }

  .services .swiper-pagination-progressbar.swiper-pagination-horizontal {
    bottom: 32px !important;
    top: inherit;
  }

  .working {
    padding: 50px 0;
  }

  .working .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .working-title {
    text-align: center;
    font-size: 28px;
  }

  .working-description {
    margin-top: 22px;
    text-align: center;
  }

  .step-one {
    padding: 40px 0;
  }

  .step-one__title {
    font-size: 48px;
    line-height: 40px;
  }

  .step-one-content {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .step-one-content {
    max-height: initial;
  }

  .step-one-text,
  .step-one-slider {
    width: 100%;
  }

  .step-one-slider {
    max-height: 440px;
    overflow: hidden;
  }

  .step-one-text__title {
    margin-top: 40px;
  }

  .step-one-text {
    padding-bottom: 40px;
  }

  .step-one-slider img {
    width: 100%;
    height: 440px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .header-contacts {
    display: none;
  }

  .main-header {
    padding-top: 30px;
  }

  .main-text__title {
    font-size: 32px;
    line-height: 42px;
  }

  .main-offer__btn {
    padding: 24px 57px 24px 81px;
  }

  .main-benefits {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .main-bottom {
    padding: 30px 20px;
  }

  .main-benefits__item {
    margin-top: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .services .swiper-slide__title {
    font-size: 18px;
    word-wrap: break-word;
    margin: 10px 0;
  }

  .services .swiper-slide {
    margin-right: 15px !important;
    width: 40% !important;
  }

  .services .swiper-slide__description {
    font-size: 14px;
    line-height: 17px;
    word-wrap: break-word;
  }

  .services .swiper-slide__more {
    margin-top: 20px;
  }

  .step-one-text {
    padding: 0 20px 40px;
  }

  .step-one-comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .comment-specialist {
    margin: 30px 0 0;
    padding: 0 20px 0 0;
  }

  .comment-specialist p {
    font-size: 16px;
    word-wrap: break-word;
  }

  .step-one-text__title {
    font-size: 18px;
  }

  .step-one-text__title span {
    font-size: 12px;
    margin-right: 10px;
  }

  .step-one-text__description {
    font-size: 16px;
    padding: 0 20px 0 0;
    word-wrap: break-word;
  }

  .step-one-slider .swiper-pagination-2 {
    left: 31%;
  }

  .working-img img {
    width: 100%;
  }

  .services-subtitle {
    font-size: 23px;
  }

  .comment-specialist p {
    padding-right: 10px;
  }
}